.login {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex: 1;
}

.login__form {
  justify-content: center;
  align-items: center;
  height: 416px;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 8px;
  margin: 0 auto;
  padding: 24px;
}

.login__formTop > h1 {
  font-weight: 600;
}

.login__formTop {
  margin-bottom: 15px;
}

.login__content > form {
  display: flex;
  flex-direction: column;
}

.login__content > form > input {
  margin-bottom: 10px;
  height: 52px;
  padding-left: 5px;
  border: 1px solid black;
  outline-width: 0px;
}

.login__content > form > input::placeholder {
  font-size: 18px;
  font-weight: 300;
}


.login__content > form > button {
  height: 52px;
  border: none;
  background-color: #0073b1;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  transition-property: background-color,box-shadow,color;
}

.login__content > form > button:hover {
  background-color: #004182;
}
