.register {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 5rem;
}

.register__form {
  height: auto;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 8px;
  padding: 24px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.register__formTop > h1 {
  font-weight: 600;
}

.register__formTop {
  margin-bottom: 15px;
}

.register__content > form {
  display: flex;
  flex-direction: column;
}


.register__content > form > button {
  height: 52px;
  border: none;
  background-color: #0073b1;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  transition-property: background-color,box-shadow,color;
}

.register__content > form > button:hover {
  background-color: #004182;
}

